/* Style de la barre de navigation */
nav {
    background-color:chocolate;
    overflow: hidden;
}

/* Style des liens de la barre de navigation */
nav a {
    float: left;
    color: #FFEBCD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav>div:last-child {
    display:flex;
    justify-content: flex-end;
  }

/* Style des liens de la barre de navigation au survol */
nav a:hover {
    background-color: white;
    color: black;
}
/*Style header*/
header {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    object-fit: cover;
     
}

main{
    height: 500px;
    
}
 
img{
    width: 200px;
}

.recettes{
display: flex;
flex-wrap: wrap;

}
.recettes div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
 
body {
font-family: 'Roboto', sans-serif;
}

nav {
display:flex;
justify-content: space-between;
align-items: center;

}
.nav-right {
display:flex;
align-items: center;
flex-direction: row;

}
.nav-left  {
display:none
}
.nav-left {
font-size: 1.2rem;
white-space: 1.6;
}
.icon-nav {
width:30px;
height:40px;
}
header {
background-color: black;
}
header img {
position: absolute;
width: 100%;
height:300px;
opacity: .3;
object-fit: cover;
}
 
@media (min-width:769px){
.nav-left{
display:flex;
align-items: center;
flex-direction: row;

}
}
h1{
    padding: 20px;
}


		/* Style du pied de page */
		footer {
			background-color:chocolate;
			color: white;
			text-align: left;
			padding: 5px;
			width: 100%;
	
		}