body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {

    color: #FFEBCD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}


/* Style des liens de la barre de navigation */
nav a:hover {
    background-color: white;
    color: black;
}

.nav-right {
    display: flex;
    align-items: center;
    flex-direction: row;
}


.nav-mobile {
    position: absolute;
    left: -300rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    transition: left .5s ease-in-out;
    z-index: 3;
}

.nav-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-desktop,
.nav-mobile {
    background-color: chocolate;

}

.nav-mobile-items {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-left {
    display: none;
}

.close {
    align-self: end;
    margin: 4px 20px;
}

.open,
.close {
    background: transparent;
    border: none;
}

.open,
.open-img,
.close,
.close-img {
    width: 50px;
    height: 50px;
}

.icon-nav {
    width: 30px;
    height: 40px;
}

/*Style header*/
header {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    object-fit: cover;
    background-color: black;
}
main{
	height: 590px;
}
		.container {
			background-color: #fff;
			border: 3px solid #f1f1f1;
			border-radius: 10px;
			padding: 20px;
			margin-top: 50px;
			margin-bottom: 50px;
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}

		input[type=text], input[type=password] {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			box-sizing: border-box;
		}

		button {
			background-color:chocolate;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			cursor: pointer;
			width: 100%;
		}

		button:hover {
			opacity: 0.8;
		}

		.cancelbtn {
			width: auto;
			padding: 10px 18px;
			background-color:chocolate;
		}

		.imgcontainer {
			text-align: center;
			margin: 24px 0 12px 0;
			position: relative;
		}

		img.avatar {
			width: 40%;
			border-radius: 50%;
		}

		.container > h2 {
			text-align: center;
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 20px;
		}

		.container > label {
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 10px;
			display: block;
		}

		.container > input[type=text]:focus, input[type=password]:focus {
			background-color: #ddd;
			outline: none;
		}

		.container > .psw {
			float: right;
			padding-top: 16px;
		}

		.container > .cancelbtn {
			width: auto;
			padding: 10px 18px;
			background-color:chocolate;
		}

		.container > .signupbtn {
			float: left;
			width: auto;
			padding: 10px 18px;
			background-color:chocolate;
		}

		.container > .cancelbtn, .signupbtn {
			margin-left: 5px;
			margin-right: 5px;
		}

		.container > .clearfix::after {
			content: "";
			clear: both;
			display: table;
		}
		.clearfix .psw a{
			color:blueviolet ;
		}
		 
		/* Style du pied de page */
footer {
    background-color: chocolate;
    color: white;
    text-align: center;
    padding: 5px;
}

/* Media query */
@media (min-width:768px) {
    .nav-left {
        display: flex;
        flex-direction: row;

    }

    .nav-mobile {
        display: none;
    }

    .open {
        display: none;
    }

}