/* Style de la barre de navigation */
nav {
    background-color:chocolate;
    overflow: hidden;
}

/* Style des liens de la barre de navigation */
nav a {
    float: left;
    color: #FFEBCD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav>div:last-child {
    display:flex;
    justify-content: flex-end;
  }

/* Style des liens de la barre de navigation au survol */
nav a:hover {
    background-color: white;
    color: black;
}
		body {
			background-color: #f1f1f1;
		}

		.container {
			background-color: #fff;
			border: 3px solid #f1f1f1;
			border-radius: 10px;
			padding: 20px;
			margin-top: 50px;
			margin-bottom: 50px;
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}

		input[type=text], input[type=password] {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			box-sizing: border-box;
		}

		button {
			background-color:chocolate;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			cursor: pointer;
			width: 100%;
		}

		button:hover {
			opacity: 0.8;
		}

		.cancelbtn {
			width: auto;
			padding: 10px 18px;
			background-color:chocolate;
		}

		.imgcontainer {
			text-align: center;
			margin: 24px 0 12px 0;
			position: relative;
		}

		img.avatar {
			width: 40%;
			border-radius: 50%;
		}

		.container > h2 {
			text-align: center;
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 20px;
		}

		.container > label {
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 10px;
			display: block;
		}

		.container > input[type=text]:focus, input[type=password]:focus {
			background-color: #ddd;
			outline: none;
		}

		.container > .psw {
			float: right;
			padding-top: 16px;
		}

		.container > .cancelbtn {
			width: auto;
			padding: 10px 18px;
			background-color:chocolate;
		}

		.container > .signupbtn {
			float: left;
			width: auto;
			padding: 10px 18px;
			background-color:chocolate;
		}

		.container > .cancelbtn, .signupbtn {
			margin-left: 5px;
			margin-right: 5px;
		}

		.container > .clearfix::after {
			content: "";
			clear: both;
			display: table;
		}
		/* rajout avec youssef */
body {
	font-family: 'Roboto', sans-serif;
}

nav {
	display:flex;
	justify-content: space-between;
    align-items: center;

}
 .nav-right {
	display:flex;
	align-items: center;
	flex-direction: row;
	
}
.nav-left  {
	display:none
}
.nav-left {
	font-size: 1.2rem;
	white-space: 1.6;
}
.icon-nav {
	width:30px;
	height:40px;
}

@media (min-width:769px){
 .nav-left{
	display:flex;
	align-items: center;
	flex-direction: row;
	
}
}
	 /* Style du pied de page */
     footer {
        background-color:chocolate;
        color: white;
        text-align: left;
        padding: 5px;
        width: 100%;
     height: 30px;
     position: absolute; 
     bottom: 0;
    }