body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

a {

    color: #FFEBCD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}


/* Style des liens de la barre de navigation */
nav a:hover {
    background-color: white;
    color: black;
}

.nav-right {
    display: flex;
    align-items: center;
    flex-direction: row;
}


.nav-mobile {
    position: absolute;
    left: -300rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    transition: left .5s ease-in-out;
    z-index: 3;
}

.nav-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-desktop,
.nav-mobile {
    background-color: chocolate;

}

.nav-mobile-items {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-left {
    display: none;
}

.close {
    align-self: end;
    margin: 4px 20px;
}

.open,
.close {
    background: transparent;
    border: none;
}

.open,
.open-img,
.close,
.close-img {
    width: 50px;
    height: 50px;
}

.icon-nav {
    width: 30px;
    height: 40px;
}

/*Style header*/
header {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    object-fit: cover;
    background-color: black;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
main{
  
    height: 650px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type="submit"] {
    background-color:chocolate;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color:chocolate;
}
/* Style du pied de page */
footer {
    background-color: chocolate;
    color: white;
    text-align: center;
    padding: 5px;
}

/* Media query */
@media (min-width:768px) {
    .nav-left {
        display: flex;
        flex-direction: row;

    }

    .nav-mobile {
        display: none;
    }

    .open {
        display: none;
    }

}